<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Getting started with ES6, Gulp, Babel, Browserify, React!</title>
  </head>
  <body>
      {{{ body }}}
  </body>
  <script src="js/bundle.js"></script>
</html>
